html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  overflow-wrap: break-word;
  color: #fff;
  background-color: #2b2b2b;
}

.wrapper {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header __________________________________________________________ */

header  {
  padding-top: 33px;
  padding-bottom: 33px;
}

header .login {
  display: none;
}

/* _____________________________ */

/* getstart __________________________________________________________ */

.section-getstart-main {
  margin-top: 70px;
}

.section-getstart h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

.section-getstart p {
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  opacity: 40%;
  vertical-align: top;
}

.section-getstart a {
  display: block;
  color: #333333;
  padding: 9px 32px 9px 32px;
  background-color: #e8bf59;
  border-radius: 15px;
  z-index: 10;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  font-size: 18px;
}

.section-getstart img {
  right: 100px;
}

.sectiron-getstart-background {
  background-image: url("./img/app-month-plan-mobile-bg.png") ;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 800px;
}

/* _____________________________ */

/* compaines _____________________________________________________ */

.section-companies-background {
  margin-top: 51px;
  margin-bottom: 50px;
}

/* _____________________________ */

/* product ______________________________________________________ */

.section-product-background {
  margin: 60px 0px 60px 0px;
  background-color: #bfaff2;
  border-radius: 15px;
}

/* _____________________________ */

/* features _____________________________________________________ */

.section-features a {
  color: white;
}

.section-features li {
  list-style-type: none;
}

.section-features p {
  opacity: 40%;
  text-align: left;
}

.second-column {
  background-color: #d9efeb;
  margin-bottom: 56px;
  border-radius: 15px;
}

/* _____________________________ */

/* feedback _____________________________________________________*/

.section-feedback-block {
  margin: 66px 0 66px 0;
}

.section-feedback-main {
  background-color: #fbe4ab;
  padding: 184px 30px 184px 30px;
  border-radius: 15px;
}

.section-feedback blockquote {
    margin: 30px 0px 30px 0px;
    color: #2B2B2B;
    text-align: center;
    vertical-align: top;
}

.section-feedback cite {
    color: #2B2B2B;
    opacity: 40%;
    text-align: center;
    vertical-align: top;
    font-style: normal
}


/* _____________________________ */




/* CTA _____________________________________________________*/


.section-cta .first-column {
  margin-top: 50px;
  margin-bottom: 60px;
}

.section-cta h2 {
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  vertical-align: top;
}

.section-cta p {
  opacity: 40%;
  text-align: center;
  vertical-align: top;
}

.section-cta a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 9px 60px 9px 60px;
  color: #333333;
  background-color: #E8BF59;
  border-radius: 15px;
  width: 175px;
}

.section-cta .gif-bg {
  margin: 60px 0 50px 0;
}


/* ______________________ */



.section-footer-main {
  margin-top: 51px;
  margin-bottom: 50px;
}

.section-footer-main ul{
  padding-left: 0px;
}


.section-footer-main li{
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 20px;
}

.section-footer-main a{
  color: white;
  font-weight: 600;
}

.section-footer-main img {
  margin-bottom: 50px;
}
